<% form_for @quote do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :computer %><br/>
      <%= f.text_field :computer %>
    </p>
    <p>
      <%= f.label :disk %><br/>
      <%= f.text_field :disk %>
    </p>
    <p>
      <%= f.label :ram %><br/>
      <%= f.text_field :ram %>
    </p>
    <p>
      <%= f.label :grade %><br/>
      <%= f.text_field :grade %>
    </p>
    <p>
      <%= f.label :box %><br/>
      <%= f.check_box :box %>
    </p>
    <p>
      <%= f.label :cable %><br/>
      <%= f.check_box :cable %>
    </p>
    <p>
      <%= f.label :adapter %><br/>
      <%= f.check_box :adapter %>
    </p>
    <p>
      <%= f.label :media %><br/>
      <%= f.check_box :media %>
    </p>
    <p>
      <%= f.label :manual %><br/>
      <%= f.check_box :manual %>
    </p>
    <p>
      <%= f.label :mouse %><br/>
      <%= f.check_box :mouse %>
    </p>
    <p>
      <%= f.label :keyboard %><br/>
      <%= f.check_box :keyboard %>
    </p>
    <p><%= f.submit %></p>
<% end %>
