<% form_for @quote do |f|%>
<table  class="banner-logo"align="center" width="811" cellspacing="0" cellpadding="0" border="0">
	<tr> 
			<td class="banner-logo"> Money<span style="color:red">4</span>Macs.co.uk<br>0117 9021781
			
			</td>
	</tr>
</table>	
<table  class="four-border"align="center" width="811" cellspacing="0" cellpadding="0" border="0">
		<tr> 
			<td class="offer-text">
				
				    In these tough financial times are you in need of <br>
					some <span style="color:red"><b>EXTRA CASH?</b></span> If so we can help. <br>
					Just fill in the form below and we will give you an<br>
					<span style="color:red"><b>INSTANT </b></span>no obligation valuation of your Apple mac.<br>
					You will have your valuation in a couple of minutes <br>
					and the money could be in your account <br>
					within a couple of days.<br>
					<span style="line-height: 1.7"> If you accept our offer then -<br>
					<span style="color:red">
					&nbsp;&nbsp;&nbsp;1 - We will send our courier to collect your mac<br>
					&nbsp;&nbsp;&nbsp;2 - We will thoroughly test your mac<br>
					&nbsp;&nbsp;&nbsp;3 - We will pay you within 48 hours<br>
					</span>
					</span>
					It's that simple - Click now.
			</td>
		</tr>
		<tr>
			<td class="tab-bg">
				<%= render "your_mac", :f => f %>
			</td>
		</tr>
		<tr>
			<td class="tab-bg">
				<%= render "where_are_you", :f => f -%>
			</td>
		</tr>
    <tr>
      <td class="tab-bg">
        <%= render "payment", :f => f -%>
      </td>
    </tr>
	<tr>
		<td>
			<div id="goodbye" style="display:none">
				Thank you for your interest. We will be in touch soon.
			</div>
		</td>
	</tr>
	</table>
	<table align="center" cellspacing="0" cellpadding="0" border="0">
	<tr>
  </tr>
  <tr>
  	<br>
	<br>
  	
    <td align="center" valign="top" class="bottom-links-text">
	<a class="bottom-links-text" onclick="window.open('<%= about_us_quotes_path -%>','about_us','width=720,height=880,scrollbars=yes')" href="#"><u>About Us</u></a> | 
	<a class="bottom-links-text" onclick="window.open('<%= terms_and_conditions_quotes_path -%>','terms_and_conditions','width=720,height=880,scrollbars=yes')" href="#"><u>Terms and Conditions</u></a>
	</td>
	<td align="right" valign="top" class="simple-text">&copy; 2011 money4macs.co.uk</td>
  </tr>
		
	</table>
<% end %>