<% title "Quote" %>

<p>
  <strong>Computer:</strong>
  <%= h @quote.computer %>
</p>
<p>
  <strong>Disk:</strong>
  <%= h @quote.disk %>
</p>
<p>
  <strong>Ram:</strong>
  <%= h @quote.ram %>
</p>
<p>
  <strong>Grade:</strong>
  <%= h @quote.grade %>
</p>
<p>
  <strong>Box:</strong>
  <%= h @quote.box %>
</p>
<p>
  <strong>Cable:</strong>
  <%= h @quote.cable %>
</p>
<p>
  <strong>Adapter:</strong>
  <%= h @quote.adapter %>
</p>
<p>
  <strong>Media:</strong>
  <%= h @quote.media %>
</p>
<p>
  <strong>Manual:</strong>
  <%= h @quote.manual %>
</p>
<p>
  <strong>Mouse:</strong>
  <%= h @quote.mouse %>
</p>
<p>
  <strong>Keyboard:</strong>
  <%= h @quote.keyboard %>
</p>

<p>
  <%= link_to "Edit", edit_quote_path(@quote) %> |
  <%= link_to "Destroy", @quote, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", quotes_path %>
</p>
