<% title "Disk" %>

<p>
  <strong>Name:</strong>
  <%=h @disk.name %>
</p>
<p>
  <strong>Size:</strong>
  <%=h @disk.size %>
</p>

<p>
  <%= link_to "Edit", edit_disk_path(@disk) %> |
  <%= link_to "Destroy", @disk, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", disks_path %>
</p>
