<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>New Quote</title>
</head>
<body>
		<div>
		<div>
		  <h2><strong>A new quote has been received</strong>
	      </h2>
		</div>
		<table width="903" cellpadding="3" cellspacing="5">
			<tr>
			  <td valign="top"><div>Type: </div></td>
				<td valign="top">
				<div><%= @quote.computer.name %> </div></td>
				<td valign="top">&nbsp;</td>
	      </tr>
			<tr>
			  <td valign="top"><div>Speed: </div></td>
				<td valign="top">
				<div><%= @quote.processor %></div></td>
				<td rowspan="15" valign="top">&nbsp;</td>
	      </tr>
			<tr>
			  <td valign="top"><div>Ram: </div></td>
				<td valign="top">
				<div><%= @quote.ram %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Disk: </div></td>
				<td valign="top">
				<div><%= @quote.disk %> </div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Grade: </div></td>
				<td valign="top">
				<div><%= @quote.grade %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Boxed: </div></td>
				<td valign="top">
				<div><%= @quote.box %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Price Quoted</div></td>
			  <td valign="top"><div><%= @quote.calculate -%></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Seller's Name: </div></td>
				<td valign="top"><div><%= @quote.name -%></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>House Name or Number: </div></td>
				<td valign="top"><div><%= @quote.houseid %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Street Name: </div></td>
				<td valign="top"><div><%= @quote.road %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>City: </div></td>
				<td valign="top"><div><%= @quote.city %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Post Code: </div></td>
				<td valign="top"><div><%= @quote.postcode %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Telephone Number: </div></td>
				<td valign="top"><div><%= @quote.phone %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Email Address: </div></td>
				<td valign="top"><div><%= @quote.email %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Pickup Date: </div></td>
				<td valign="top">
				<div><%= @quote.collection_date %></div></td>
		  </tr>
			<tr>
			  <td valign="top"><div>Additional Details: </div></td>
				<td valign="top">
				<div><%= @quote.comment %></div></td>
		  </tr>
		</table>
</div>
</body>
</html>
