<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>New Quote</title>
	</head>
	<body>
		A new quote has been received
		<table>
			<tr>
				<td>
					type: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					Ram: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					Disk: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					Condition: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					type: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					Seller: <%= @quote.name %>
				</td>
			</tr>
		</table>
	</body>
	<! You fill in the rest of this email rupert >
</html>
