<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>New Quote</title>
	</head>
	<body>
		<div align="center">
		A new quote has been received
		<table align="center">
			<tr>
				<td>
					type: <%= @quote.computer.name %>
				</td>
			</tr>
			<tr>
				<td>
					Speed: <%= @quote.processor %>
				</td>
			</tr>
			<tr>
				<td>
					Ram: <%= @quote.ram %>
				</td>
			</tr>
			<tr>
				<td>
					Disk: <%= @quote.disk %>
				</td>
			</tr>
			<tr>
				<td>
					Grade: <%= @quote.grade %>
				</td>
			</tr>
			<tr>
				<td>
					Boxed: <%= @quote.box %>
				</td>
			</tr>
			<tr>
				<td>
					Seller's Name: <%= @quote.name %>
				</td>
			</tr>
			<tr>
				<td>
					House Name or Number: <%= @quote.houseid %>
				</td>
			</tr>
			<tr>
				<td>
					Street Name: <%= @quote.road %>
				</td>
			</tr>
			<tr>
				<td>
					City: <%= @quote.city %>
				</td>
			</tr>
			<tr>
				<td>
					Post Code: <%= @quote.postcode %>
				</td>
			</tr>
			<tr>
				<td>
					Telephone Number: <%= @quote.phone %>
				</td>
			</tr>
			<tr>
				<td>
					Email Address: <%= @quote.email %>
				</td>
			</tr>
			<tr>
				<td>
					Date of collection: <%= @quote.date %>
				</td>
			</tr>
			<tr>
				<td>
					Additional Details: <%= @quote.comment %>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>
