<% form_for @computer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
		<%= edit_habtm @computer, Processor, :long => true %>
  </p>
  <p>
    <%= edit_habtm @computer, Disk %>
  </p>
  <p>
    <%= edit_habtm @computer, Ram %>
  </p>
  <p><%= f.submit %></p>
<% end %>
