<table>
	<tr>
		<td>
			<div id="mac_header">
				<%= link_to_function "Tell us about your mac", shuffle(:contract =>["mac_header"], :expand =>["mac_body"]) -%>
			</div>
			<div id="mac_body" style="display:none;">
			  <div>
			    <%= link_to_function "Desktop", shuffle(:contract =>["mac_body"], :expand =>["desktop_body"]) -%>
			  </div>
				<div>
			    <%= link_to_function "laptop", shuffle(:contract =>["mac_body"], :expand =>["laptop_body"]) -%>
				</div>		
			</div>
			<div id="desktop_body" style="display:none">
			  <%= render "desktop_body" -%>
			</div>
			<div id="laptop_body" style="display:none">
			  <%= render "laptop_body" -%>	
			</div>	
    </td>
  </tr>
</table>