<% title "Computers" %>

<ul id="computer-list" style="cursor:move;">
  <% for computer in @computers %>
    <li id="item_<%= computer.id -%>">
      <%=h computer.name %>
      <%= link_to "Prices", prices_computer_path(computer) %>
      <%= link_to "Edit", edit_computer_path(computer) %>
      <%= link_to "Destroy", computer, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>

<%= sortable_element "computer-list",
    :url => {:action => "sort"},
    :complete => visual_effect(:highlight, "computer-list")
%>

<p><%= link_to "New Computer", new_computer_path %></p>
