<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div id="mac_header" class="tab-text">
        <%= link_to_function "1 - Details Of Your Mac &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;", shuffle(:expand =>["mac_body"], :contract => ["payment_body", "laptop_body", "desktop_body", "worth_body", "location_body", "payment_body"]), {:class => "tab-text1"} -%>
      </div>
      <div id="mac_body" style="display:none">
        <%= render "mac_type", :f => f %>
      </div>
      <div id="worth_body" style="display:none">
        <%= render "worth_body", :f => f %>
      </div>
      <div id="desktop_body" style="display:none">
        <%= render "desktop_body", :f => f -%>
      </div>
      <div id="laptop_body" style="display:none">
        <%= render "laptop_body", :f => f -%>
      </div>
    </td>
  </tr>
</table>
