<table>
	<tr>
		<td>
			<%= link_to "Computers",  computers_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Disks",      disks_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Grades",     grades_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Pots",       pots_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Prices",     prices_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Processors", processors_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Quotes",     quotes_path %>
		</td>
	</tr><tr>
		<td>
			<%= link_to "Memory",     rams_path %>
		</td>
	</tr>
</table>