<% title "Processors" %>

<ul id="processor-list" style="cursor:move;">
  <% for processor in @processors %>
    <li id="item_<%= processor.id -%>">
      <%=h processor.name %>
      <%=h processor.speed %>
      <%= link_to "Show", processor %>
	  <%= link_to "Edit", edit_processor_path(processor) %>
      <%= link_to "Destroy", processor, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>
<%= sortable_element "processor-list",
    :url => {:action => "sort"},
    :complete => visual_effect(:highlight, "processor-list")
%>

<p><%= link_to "New Processor", new_processor_path %></p>
