%table.clean(cellpadding="0" width="100%")
  %tr
    %td
      #payment_header.tab-text
        3 - Your Money to You FAST
      #payment_body{:style => "display: none;"}
        #div5{:style => "height:auto;", :align => "center"}
          %table.clean(width="805" cellpadding="0")
            %tr
              %td
                %table{:align => "center", :width => "96%", :cellspacing => "2", :cellpadding => "2", :border => "0"}
                  %tr
                    %td{:rowspan => "2"}
                      %table.clean(width="100%" cellpadding="0")
                        %tr
                          %td.top
                            %table(width="220" cellspacing="2" cellpadding="2" border="0")
                              %tr
                                %td
                                  = date_selector
                              %tr
                                %td
                                  = f.text_area :comment, :class => "box-wide", :rows => 6
                    %td.simple-text.top{:colspan => "3", :align => "left"}
                      #macboxyes{:style => "display: none;"}
                        %p
                          Nearly there. To finish you just need to pick a date convenient for you in the calender on the left.
                          You will also need to accept our terms and conditions by checking the tickbox and then clicking "I
                          Accept". Once you have accepted, you will receive a confirmation email with all your order's
                          information in it. Our courier will bring a label with them unless you are instructed otherwise, so
                          you will not need to print anything off.
                      #macboxno
                        %p
                          Nearly there. To finish you just need to pick a date convenient for you in the calender on the left.
                          You will also need to accept our terms and conditions by checking the tickbox and then clicking "I
                          Accept". Once you have accepted, you will receive a confirmation email and a second email with the
                          tracking number of the box we will send for you to place your Mac in. This will arrive on the day you
                          selected. All you will need to do is place your Mac inside securely, affix the enclosed return
                          shipping label to the item and hand it to the courier.
                  %tr
                    %td.footer-text{:colspan => "2"}
                      &nbsp;&nbsp;
                      = f.check_box :confirmation
                      I confirm that the information I have provided, to the best of my knowledge, is accurate and true.
                  %tr
                    %td.simple-text{:align => "left", :colspan => "3"}
                      %p
                        %strong
                          Please note: We only issue payment by the following methods:<br/>
                      %strong
                        Direct Bank Transfer - We will need your Sort Code and Bank Account Number to pay you this way.<br/>
                      %strong
                        Paypal Transfer - We will need the email address that you are registered to PayPal with to pay you this way.<br/>
                      %strong
                        <br/>You will be contacted upon receipt of your Mac regarding your preferred payment method.
                  %tr
                    %td
                      &nbsp;
                    %td.footer-text{:colspan => "3", :align => "left"}
                      &nbsp;&nbsp;
                      = f.check_box :iagree, :tabindex => 9, :class => "footer-text"
                      I agree to the
                      %a{:onclick => "window.open('#{terms_and_conditions_quotes_path}','terms_and_conditions','width=720,height=880,scrollbars=yes')", :href => "#", :style => "text-decoration: underline;"}
                        Terms and Conditions
                      of this contract
          %table{:width => "801"}
            %tr
              %td{:align => "left"}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                = link_to_function image_tag("back_long_button.jpg", :size => "285x36", :border => "0"), shuffle(:contract => ["payment_body"], :expand => "location_body")
              %td{:align => "right"}
                = link_to_remote image_tag("i_accept_button.jpg", :size => "285x36", :border => "0"), :url => {:action => "submit_quote"},
                                                   :with                                                                     => "Form.serialize($('new_quote'))" + " + '&quote[stage]=payment'",
                                                   :success                                                                  => shuffle(:contract => ["payment_body"], :expand => "goodbye")
